



@media only screen and (max-width: 767px) {
    .sidebar {
        width: 100% !important;
    }
    .body {
        width: 100% !important;
    }
    .body .row {
        flex-direction: column !important;
    }
    .body .row .col-6 {
        width: 100% !important;
    }
}